[submodule "tests/libs/underscore"]
	path = tests/libs/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "tests/libs/qunit"]
	path = tests/libs/qunit
	url = git://github.com/jquery/qunit.git