/* RossCairns.com Template
 * Global
 *
 *
*/
/* RossCairns.com Template
 * Layout
 *
 *
*/
#container {
  width: 600px;
  margin: 0 auto;
}
#container #gallery {
  display: block;
  position: relative;
  width: 500px;
  height: 500px;
}
.js-inactive {
  color: grey;
}
